<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
#DataScienceEcosystem

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
unordered list :
-List popular languages for Data Science: Python,R,SQL
-List popular library for Data Science: Pandas,Numpy

In [ ]:
# Some of the popular languages that Data Scientists use are:
order_list = ["Python","R","SQL"]

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:
order_list = ["Pandas","Numpy","Matplotlib","Toolkit"]

In [ ]:
import pandas as pd

# Create a DataFrame
data = {
    'Data Science Tools': ['Apache Spark', 'TensorFlow','Jupyter Notebook']
}

df = pd.DataFrame(data)

In [ ]:
###Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This a simple arithmetic expression to mutiply then add integers:
Result =(3*4)+5
print(Result)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60:
convert = 200/60
print(convert)

3.3333333333333335

In [3]:
## Author
Lakshmi Holla

3.3333333333333335